<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyBlog</title>
    <link rel = "stylesheet" href="static/second.css"/> 
</head>
<body>
    <header class= "navigation">
        <h1 class="nav_head"> EasyBlog</h1>
        <ul class="nav2">
                <li class="nav3"><a class= "nav4" href="#">Home</a></li>
                <li class="nav3"><a class= "nav4" href="#">Bookmarks</a></li>
                <li class="nav3"><a class= "nav4" href="#">Calendar</a></li> 
        </ul>
    </header>
    <main class="main">
        <section>
            <h1>Add Post Here:</h1>
             <form class = "form" method="post">
                <p class = "form_par">
                <textarea class= "poster" aria-label="Add Here"type= "text" name = "post" id="post_creator"> </textarea>
                </p>
                
                
                <button type = "submit" class= "button">Post</button>


             </form>
        </section>
        <section>
            <h1>Recent Posts</h1> 
            {% for entry in entries %}
            <article class="poster1">
                <div>
                <h3 class= "poster_title">{{ entry[0] | truncate(30,true)}}</h3>
                <time class= "poster_date"datetime="{{entry[1]}}">[{{entry[2]}}]</time>
            </div>
                
            <p1 class="poster_content">
              {{entry[0]}}
            </p1>
            </article>
            {% endfor %}
        </section> 
    </main>

    <footer class = "footer"> 
        <div class= "footer_content">
            <section class= "left">
                
                <a class="footer_items"> Made by Fanuel Dana</a>
                <a class="footer_items"> About</a>

            </section>
            <section class= "right">
                
                <a class= "right_items" >Home</a>
                <a class= "right_items" >Bookmarks</a>
                <a class= "right_items" >Calendar</a>

            </section>
           
        </div>
    
    
    
    </footer>
     
</body>
</html>